@page
@model IndexModel
@{
    ViewData["Title"] = "Practice Website - 2";
}

<div class="text-center">
    <h1 class="display-4"><u>Youtube Video</u></h1>

    <div id="youtubeVideo">
        <p><iframe width="545" height="409" src="https://www.youtube.com/embed/4Tr0otuiQuU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
    </div>
</div>
    <p><button onclick="myMove()">Animation Here!</button></p>
    <div id="container">

        <div id="animation">
            
        </div>

    </div>

