@page
@model IndexModel
@{
    ViewData["Title"] = "Practice Website";
}

<div class="text-center">
    <h1 class="display-4">Practice Website</h1>
    <h3>Favorite Animal</h3>
    <img src="~/images/jaguarImage.jpeg" alt="Favorite Animal - Jaguar" />
    
</div>
